body {
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}
.header {
    background-color: #010535;
    flex:1;
    padding: 15px;
    display:flex;
    justify-content: space-between;
}
.content {
    flex:1;
    display:flex;
    flex-direction: column;
    background:none;
    
}
.about-me {
    background-color: #010535;
    display:flex;
    flex:1 1 auto;
    justify-content: center;
}
.about-me-left {
    width: 500px;
    flex:0 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.about-me img {
    flex: 0 1 auto;
    margin: 10px 0px 35px 35px;
}
.education {
    flex:1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills {
    padding: 50px;
    flex: 1 1 auto;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

.skills1 {
    width: 850px;
    flex: 1 1 auto;
    font-size: 36px;
    font-style:italic;
    font-weight: lighter;
    color: #1f2937;
    background-color: #E5E7EB;
    margin-top: 10px;
    margin-bottom: 10px;
}

.skills2 {
    flex: 1 0 auto;
    font-size: 24px;
    font-weight: bold;
    padding-right: 950px;
    margin-bottom: 0px;
}
.thesis {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thesis-inner {
    flex:1;
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 35px 50px;
    margin: 25px;
    border-radius: 15px;
}

.thesishero {
    font-size: 24px;
    font-weight: bold;
    color: whitesmoke;
}

.thesis-title {
    font-size: 20px;
    color: white;
}

.thesis-inner button {
    flex: 1 0 auto;
    margin-left: 100px;
    border: 2px solid whitesmoke;
}

.downloadbutton {
    font-size: 24px;
    font-weight: bolder;
}

.footer {
    background-color: #010535;
    flex:1;
    text-align: center;
    color: whitesmoke;
}

.educationcards {
    display: flex;
}

ul {
    display: flex;
    margin-left: -40px;
    list-style: none;
}

.logo {
    height: 60px;
}

.card img {
    width:150px;
    height: 150px;
}

.about-me img {
    width: 600px;
    border-radius: 30px;
}

a {
    text-decoration: none;
}

li {
    padding: 10px;
}

.herosecondarytext {
    font-size: 18px;
    color: #E5E7EB;
}

.name {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    margin-top: -20px;
    margin-bottom: -10px;
}

button {
    border: none;
    border-radius: 10px;
    background-color: #3882F6;
    padding: 5px 15px;
}

button a {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.educationtitle {
    flex:1 1 auto;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 15px;
}

.educationcards {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
}

.card {
    width: 200px;
    margin: 30px;
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uppercardtext {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: -5px;
    text-align: center;
}

.lowercardtext {
    font-size:14px;
    font-weight: bold;
    text-align: center;
}